In [1]:
import pandas as pd
import numpy as np
import torch
import sklearn

### Importing data

In [81]:
from sklearn.model_selection import train_test_split

#Read in data
train = pd.read_csv('data/train.csv')
#Remove any rows with missing values
df = train.dropna(axis=0, how='any') # figure out how to bootstrap
#Drop columns
df = df.drop(['ID', 'Customer_ID', 'Month', 'Name', 'SSN','Num_Credit_Inquiries', 'Payment_Behaviour'], axis=1)

#Removing extra underscores from columns
df['Age'] = df['Age'].str.replace('_', '')
df['Annual_Income'] = df['Annual_Income'].str.replace('_', '')
df['Num_of_Loan'] = df['Num_of_Loan'].str.replace('_', '')
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].str.replace('_', '')
df['Outstanding_Debt'] = df['Outstanding_Debt'].str.replace('_', '')
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].str.replace('_', '')
df['Monthly_Balance'] = df['Monthly_Balance'].str.replace('_', '')
df.dropna(axis=0, how='any', inplace=True)


df.drop(df[df['Occupation'] == '_______'].index, inplace=True)
df.drop(df[df['Credit_Mix'] == '_'].index, inplace=True)
df.drop(df[df['Payment_of_Min_Amount'] == 'NM'].index, inplace=True)

print(df)

C:\Users\jtcle\AppData\Local\Temp\ipykernel_7040\2528170355.py:4: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('data/train.csv')

      Age Occupation      Annual_Income  Monthly_Inhand_Salary  \
6      23  Scientist           19114.12            1824.843333
9      28    Teacher           34847.84            3037.986667
12     28    Teacher           34847.84            3037.986667
13     28    Teacher           34847.84            3037.986667
15     28    Teacher           34847.84            3037.986667
...    ..        ...                ...                    ...
98279  24     Lawyer  59868.93000000001            5111.077500
98280  31  Developer           28796.82            2378.735000
98285  32  Developer           28796.82            2378.735000
98300  38     Lawyer           41015.55            3152.962500
98303  38     Lawyer           41015.55            3152.962500

       Num_Bank_Accounts  Num_Credit_Card  Interest_Rate Num_of_Loan  \
6                      3                4              3           4
9                      2                4              6           1
12                     2                4              6           1
13                     2                4              6           1
15                     2                4              6           1
...                  ...              ...            ...         ...
98279                  4                7              9           4
98280                  6                6             21           5
98285                  6                6             21           5
98300               1194                4              4           1
98303                  0                4              4           1

                                            Type_of_Loan  Delay_from_due_date  \
6      Auto Loan, Credit-Builder Loan, Personal Loan,...                    3
9                                    Credit-Builder Loan                    7
12                                   Credit-Builder Loan                    3
13                                   Credit-Builder Loan                    3
15                                   Credit-Builder Loan                    3
...                                                  ...                  ...
98279  Not Specified, Mortgage Loan, Home Equity Loan...                    8
98280  Student Loan, Payday Loan, Payday Loan, Person...                   28
98285  Student Loan, Payday Loan, Payday Loan, Person...                   30
98300                                        Payday Loan                    9
98303                                        Payday Loan                    9

       ... Changed_Credit_Limit Credit_Mix Outstanding_Debt  \
6      ...                11.27       Good           809.98
9      ...                 7.42       Good           605.03
12     ...                 6.42       Good           605.03
13     ...                 5.42       Good           605.03
15     ...                 5.42       Good           605.03
...    ...                  ...        ...              ...
98279  ...                 6.09       Good           417.72
98280  ...                 2.78        Bad          2382.35
98285  ...                 2.78        Bad          2382.35
98300  ...                 1.58       Good            599.4
98303  ...                 1.58       Good            599.4

      Credit_Utilization_Ratio      Credit_History_Age Payment_of_Min_Amount  \
6                    22.537593   22 Years and 7 Months                    No
9                    38.550848   26 Years and 8 Months                    No
12                   34.977895  26 Years and 11 Months                    No
13                   33.381010   27 Years and 0 Months                    No
15                   32.933856   27 Years and 2 Months                    No
...                        ...                     ...                   ...
98279                24.803887   29 Years and 0 Months                    No
98280                35.168085   5 Years and 11 Months                   Yes
98285                25.562788    6 Years and 4 Months                   Yes
98300                26.268474   25 Years and 3 Months                    No
98303                31.356267   25 Years and 6 Months                    No

      Total_EMI_per_month  Amount_invested_monthly     Monthly_Balance  \
6               49.574949        178.3440674122349   244.5653167062043
9               18.816215        40.39123782853101   484.5912142650067
12              18.816215       130.11542024292334   444.8670318506144
13              18.816215       43.477190144355745    481.505261949182
15              18.816215       218.90434353388733  356.07810855965045
...                   ...                      ...                 ...
98279          104.622038                    10000   80.19025597985058
98280           82.235220       226.65527284680897  208.98300740656651
98285           82.235220        59.38608025863144  336.25219999474405
98300           25.671257         76.0572180026272   453.5677749786737
98303           25.671257                    10000  214.61493361875802

      Credit_Score
6             Good
9             Good
12            Good
13            Good
15            Good
...            ...
98279     Standard
98280         Poor
98285     Standard
98300     Standard
98303     Standard

[34108 rows x 21 columns]

In [82]:
#Finding unique loan types and making a new column for each
unique_loans = set()

for row in df['Type_of_Loan']:
    vals = row.split(',')
    for loan in vals:
        unique = loan.lstrip(' and').strip()
        unique_loans.add(unique)

unique_loans.remove('Not Specified')

temp = pd.DataFrame(columns=list(unique_loans), data=np.zeros(shape=(len(df), len(unique_loans)), dtype=np.int8))
# print(temp)

# Updating the columns with correct loans
for i, row in enumerate(df['Type_of_Loan']):
    for loan in unique_loans:
        temp.at[i, loan] = row.count(loan)

# print(temp)
df = pd.concat([df.drop('Type_of_Loan', axis=1).reset_index(drop=True), temp.reset_index(drop=True)], axis=1)

print(df)

      Age Occupation      Annual_Income  Monthly_Inhand_Salary  \
0      23  Scientist           19114.12            1824.843333
1      28    Teacher           34847.84            3037.986667
2      28    Teacher           34847.84            3037.986667
3      28    Teacher           34847.84            3037.986667
4      28    Teacher           34847.84            3037.986667
...    ..        ...                ...                    ...
34103  24     Lawyer  59868.93000000001            5111.077500
34104  31  Developer           28796.82            2378.735000
34105  32  Developer           28796.82            2378.735000
34106  38     Lawyer           41015.55            3152.962500
34107  38     Lawyer           41015.55            3152.962500

       Num_Bank_Accounts  Num_Credit_Card  Interest_Rate Num_of_Loan  \
0                      3                4              3           4
1                      2                4              6           1
2                      2                4              6           1
3                      2                4              6           1
4                      2                4              6           1
...                  ...              ...            ...         ...
34103                  4                7              9           4
34104                  6                6             21           5
34105                  6                6             21           5
34106               1194                4              4           1
34107                  0                4              4           1

       Delay_from_due_date Num_of_Delayed_Payment  ...     Monthly_Balance  \
0                        3                      8  ...   244.5653167062043
1                        7                      1  ...   484.5912142650067
2                        3                      1  ...   444.8670318506144
3                        3                      0  ...    481.505261949182
4                        3                      4  ...  356.07810855965045
...                    ...                    ...  ...                 ...
34103                    8                     11  ...   80.19025597985058
34104                   28                     21  ...  208.98300740656651
34105                   30                     23  ...  336.25219999474405
34106                    9                      1  ...   453.5677749786737
34107                    9                      2  ...  214.61493361875802

      Credit_Score Payday Loan  Auto Loan Student Loan Home Equity Loan  \
0             Good           0          1            0                1
1             Good           0          0            0                0
2             Good           0          0            0                0
3             Good           0          0            0                0
4             Good           0          0            0                0
...            ...         ...        ...          ...              ...
34103     Standard           0          0            0                1
34104         Poor           2          0            2                0
34105     Standard           2          0            2                0
34106     Standard           1          0            0                0
34107     Standard           1          0            0                0

       Mortgage Loan Personal Loan Credit-Builder Loan Debt Consolidation Loan
0                  0             1                   1                       0
1                  0             0                   1                       0
2                  0             0                   1                       0
3                  0             0                   1                       0
4                  0             0                   1                       0
...              ...           ...                 ...                     ...
34103              1             0                   1                       0
34104              0             1                   0                       0
34105              0             1                   0                       0
34106              0             0                   0                       0
34107              0             0                   0                       0

[34108 rows x 28 columns]

In [83]:
#Changing credit history to be in terms of months
#df.dropna(axis=0, how='any', inplace=True)
temp = pd.DataFrame(columns=['Credit_History_Age'], data=np.zeros(shape=(len(df), 1), dtype=np.int8))
zero_count = 0

for i, row in enumerate(df['Credit_History_Age']):
        age_series = row.split(' and ')
        years = int(age_series[0].rstrip('Years').strip())
        months = int(age_series[1].rstrip('Months').strip())
        temp.at[i, 'Credit_History_Age'] = years*12+months

df = pd.concat([df.drop('Credit_History_Age', axis=1).reset_index(drop=True), temp.reset_index(drop=True)], axis=1)

print(df)

      Age Occupation      Annual_Income  Monthly_Inhand_Salary  \
0      23  Scientist           19114.12            1824.843333
1      28    Teacher           34847.84            3037.986667
2      28    Teacher           34847.84            3037.986667
3      28    Teacher           34847.84            3037.986667
4      28    Teacher           34847.84            3037.986667
...    ..        ...                ...                    ...
34103  24     Lawyer  59868.93000000001            5111.077500
34104  31  Developer           28796.82            2378.735000
34105  32  Developer           28796.82            2378.735000
34106  38     Lawyer           41015.55            3152.962500
34107  38     Lawyer           41015.55            3152.962500

       Num_Bank_Accounts  Num_Credit_Card  Interest_Rate Num_of_Loan  \
0                      3                4              3           4
1                      2                4              6           1
2                      2                4              6           1
3                      2                4              6           1
4                      2                4              6           1
...                  ...              ...            ...         ...
34103                  4                7              9           4
34104                  6                6             21           5
34105                  6                6             21           5
34106               1194                4              4           1
34107                  0                4              4           1

       Delay_from_due_date Num_of_Delayed_Payment  ... Credit_Score  \
0                        3                      8  ...         Good
1                        7                      1  ...         Good
2                        3                      1  ...         Good
3                        3                      0  ...         Good
4                        3                      4  ...         Good
...                    ...                    ...  ...          ...
34103                    8                     11  ...     Standard
34104                   28                     21  ...         Poor
34105                   30                     23  ...     Standard
34106                    9                      1  ...     Standard
34107                    9                      2  ...     Standard

      Payday Loan Auto Loan  Student Loan Home Equity Loan  Mortgage Loan  \
0               0         1             0                1              0
1               0         0             0                0              0
2               0         0             0                0              0
3               0         0             0                0              0
4               0         0             0                0              0
...           ...       ...           ...              ...            ...
34103           0         0             0                1              1
34104           2         0             2                0              0
34105           2         0             2                0              0
34106           1         0             0                0              0
34107           1         0             0                0              0

      Personal Loan Credit-Builder Loan Debt Consolidation Loan  \
0                 1                   1                       0
1                 0                   1                       0
2                 0                   1                       0
3                 0                   1                       0
4                 0                   1                       0
...             ...                 ...                     ...
34103             0                   1                       0
34104             1                   0                       0
34105             1                   0                       0
34106             0                   0                       0
34107             0                   0                       0

       Credit_History_Age
0                     271
1                     320
2                     323
3                     324
4                     326
...                   ...
34103                 348
34104                  71
34105                  76
34106                 303
34107                 306

[34108 rows x 28 columns]

In [84]:

#Get columns ready to encode
encoding_columns = ['Occupation', 'Credit_Mix', 'Payment_of_Min_Amount']
data_to_encode = df[encoding_columns]


#Creating a OneHotEncoder   
ohe = sklearn.preprocessing.OneHotEncoder()

ohe.fit(data_to_encode)
encoded = ohe.transform(data_to_encode)

#Get feature names
feature_names = ohe.get_feature_names_out(input_features=encoding_columns)
ohe_df = pd.DataFrame.sparse.from_spmatrix(encoded, columns=feature_names)


encoded_df = pd.DataFrame(encoded.toarray(), columns=feature_names)

final_df = pd.concat([df.drop(encoding_columns, axis=1), encoded_df], axis=1)

print(final_df)
print(final_df.shape)

      Age      Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0      23           19114.12            1824.843333                  3
1      28           34847.84            3037.986667                  2
2      28           34847.84            3037.986667                  2
3      28           34847.84            3037.986667                  2
4      28           34847.84            3037.986667                  2
...    ..                ...                    ...                ...
34103  24  59868.93000000001            5111.077500                  4
34104  31           28796.82            2378.735000                  6
34105  32           28796.82            2378.735000                  6
34106  38           41015.55            3152.962500               1194
34107  38           41015.55            3152.962500                  0

       Num_Credit_Card  Interest_Rate Num_of_Loan  Delay_from_due_date  \
0                    4              3           4                    3
1                    4              6           1                    7
2                    4              6           1                    3
3                    4              6           1                    3
4                    4              6           1                    3
...                ...            ...         ...                  ...
34103                7              9           4                    8
34104                6             21           5                   28
34105                6             21           5                   30
34106                4              4           1                    9
34107                4              4           1                    9

      Num_of_Delayed_Payment Changed_Credit_Limit  ...  \
0                          8                11.27  ...
1                          1                 7.42  ...
2                          1                 6.42  ...
3                          0                 5.42  ...
4                          4                 5.42  ...
...                      ...                  ...  ...
34103                     11                 6.09  ...
34104                     21                 2.78  ...
34105                     23                 2.78  ...
34106                      1                 1.58  ...
34107                      2                 1.58  ...

      Occupation_Media_Manager  Occupation_Musician  Occupation_Scientist  \
0                          0.0                  0.0                   1.0
1                          0.0                  0.0                   0.0
2                          0.0                  0.0                   0.0
3                          0.0                  0.0                   0.0
4                          0.0                  0.0                   0.0
...                        ...                  ...                   ...
34103                      0.0                  0.0                   0.0
34104                      0.0                  0.0                   0.0
34105                      0.0                  0.0                   0.0
34106                      0.0                  0.0                   0.0
34107                      0.0                  0.0                   0.0

      Occupation_Teacher Occupation_Writer Credit_Mix_Bad  Credit_Mix_Good  \
0                    0.0               0.0            0.0              1.0
1                    1.0               0.0            0.0              1.0
2                    1.0               0.0            0.0              1.0
3                    1.0               0.0            0.0              1.0
4                    1.0               0.0            0.0              1.0
...                  ...               ...            ...              ...
34103                0.0               0.0            0.0              1.0
34104                0.0               0.0            1.0              0.0
34105                0.0               0.0            1.0              0.0
34106                0.0               0.0            0.0              1.0
34107                0.0               0.0            0.0              1.0

       Credit_Mix_Standard  Payment_of_Min_Amount_No  \
0                      0.0                       1.0
1                      0.0                       1.0
2                      0.0                       1.0
3                      0.0                       1.0
4                      0.0                       1.0
...                    ...                       ...
34103                  0.0                       1.0
34104                  0.0                       0.0
34105                  0.0                       0.0
34106                  0.0                       1.0
34107                  0.0                       1.0

       Payment_of_Min_Amount_Yes
0                            0.0
1                            0.0
2                            0.0
3                            0.0
4                            0.0
...                          ...
34103                        0.0
34104                        1.0
34105                        1.0
34106                        0.0
34107                        0.0

[34108 rows x 45 columns]
(34108, 45)

In [85]:
# Change variable types of columns
# df = df.astype({'Age': int, 'Occupation': 'string', 'Annual_Income' : float, 'Num_of_Loan': int, 'Type_of_Loan': 'string', 'Num_of_Delayed_Payment': int, 'Outstanding_Debt': float, 'Credit_Mix': 'string', 'Amount_invested_monthly': float, 'Monthly_Balance': float})

x = final_df.drop(['Credit_Score'], axis=1).values
y = final_df['Credit_Score'].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, train_size=0.7)

### Decision Tree

In [86]:
from sklearn import tree, metrics
import seaborn as sns 
import matplotlib.pyplot as plt

# makes a decision tree using x/y train data
dtc = tree.DecisionTreeClassifier().fit(x_train, y_train)

# use model for pred
y_pred_dtc = dtc.predict(x_test)

# getting statistics
accuracy = metrics.accuracy_score(y_test, y_pred_dtc)
precision = metrics.precision_score(y_test, y_pred_dtc)
recall = metrics.recall_score(y_test, y_pred_dtc)
f1 = metrics.f1_score(y_test, y_pred_dtc)
cm = metrics.confusion_matrix(y_test, y_pred_dtc)

print(f'accuracy : {accuracy}')
print(f'precision : {precision}')
print(f'recall : {recall}')
print(f'f1 : {f1}')
print(cm)

ValueError: could not convert string to float: '_'